@import url(https://fonts.googleapis.com/css?family=Poiret+One|Raleway);

body{
  font-family: 'Raleway', sans-serif;
}

.dashboard-menu{
  background-color: #313443;
  position: fixed;
  height: 100%;
  padding :0;
}

#panel{
  background-color: #F6F6F6;
  height: 1500px;
}

#infoUser{
  background-color: #A48AD4;
  height: 150px;
  padding: 15px;
}

#personalPicture{
  /*background-color: #fff;*/
}

#personalPicture .image{
  height: 120px;
  width: 120px;
  background-color: purple;
  border-radius: 60px;
  background: url('../img/etudiants/laurent.bassin.jpg') no-repeat 0px 0px;
  background-position: center center;
  background-size: 100%;
  /*border: 1px solid #fff;*/
}

#infoUser .details{
  height: 120px;
  color: #fff;
  font-size: 1.4em;
}
