#panel{
  color:black;
}

.page-header{
  border-color: #CCC;
}

label{
  font-weight: normal;
  min-width: 88px;
}

.form-decalage-group{
  padding-left:2%;
}

.noPaddingLeft{
  padding-left: 0;
}

.noPaddingRight{
  padding-right: 0;
}

.modal-content{
  height: 90%;
}

.modal-body{
  height: 85%;
}

.modal-lg{
  height: 90%;
}

.control-label{
  text-align: left !important;
}


.red{
  background-color: red;
}

.tabulation{
  text-indent: 8%;
}

.dontshow{
  display: none;
}
