#panel{
  color:black;
}

.page-header{
  border-color: #CCC;
}

.entreprise label, .etudiant label{
  font-weight: normal;
}

.form-decalage-group{
  padding-left:2%;
}

.noPaddingLeft{
  padding-left: 0;
}

.noPaddingRight{
  padding-right: 0;
}
