#panel{
  color:black;
}

.page-header{
  border-color: #CCC;
}

.entreprise label, .etudiant label, .stage label{
  font-weight: normal;
  min-width: 88px;
}

.form-decalage-group{
  padding-left:2%;
}

.noPaddingLeft{
  padding-left: 0;
}

.noPaddingRight{
  padding-right: 0;
}

.modal-content{
  height: 90%;
}

.modal-body{
  height: 85%;
}

.modal-lg{
  height: 90%;
}
